.contenedor_tarjeta{
    perspective: 600px;
}
.tarjeta{
    height: 85vh !important; 
    margin: auto; 
    position: relative;
    transform-style: preserve-3d; 
    transition: .5s ease;
}
.tarjeta--titulo{
    color: white;
    font-weight: bold;
}
.adelante, .atras{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 85vh !important; 
    backface-visibility: hidden; /*permite mostrar la cara posterior de un elemento*/
}
.atras{
    width: 100%;
    height: 85vh !important; 
    transform: rotateY(180deg);
}
.adelante{
    transform: rotateY(0deg);
}

@media(max-width: 350px){
    .atras{
        height: 75vh !important; 
    }
}


@media(min-width: 351px) and (max-width: 370px){
    .atras{
        height: 75vh !important; 
    }
}


@media(min-width: 371px) and (max-width: 800px){
    .atras{
        height: 75vh !important; 
    }
}