@media(max-width: 800px){

.carta-box {
    position: relative;
    perspective: 600px;
}
.carta {
    transform-style: preserve-3d;/* todos los elementos hijos del elemento  se tratarán como elementos 3D*/
    transition: 0.5s linear;
}
.adelante{
    transform: rotateY(0deg);
    backface-visibility: hidden;  
    /*visible *//*permite mostrar o ocultar la cara posterior de un elemento*/
}
.atras {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden ;/*visible *//*permite mostrar o ocultar la cara posterior de un elemento*/
}
}