@charset "UTF-8";
 body, section, article, header, footer, aside, nav, figure, div{
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, p, legend{
	cursor: default;
	margin: 0;
}
select{
	background-color: white;
}
img{
	display: block;
	max-width: 100%;
}
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	box-sizing: border-box;	
}
a{
	color: var(--Enlaces);
	text-decoration: none;
}
body, html{
	height: 100%;	
}
input[type=text], select, textarea{
	margin-bottom: 2% !important;
	padding-left: 1%;
}
li{
	list-style: none;
}
textarea{
	resize: none;
	overflow: hidden;	
	/* text-align: justify; */
	/* white-space: normal; */
}
.material-icons-outlined{}

/* ******************************************************************************** */
	/* DECLARACION DE VARIABLES */
:root{
	--FondoDivModal: rgba(0, 0, 0, 0.8);
	--FondoDivModal--claro: rgba(0, 0, 0, 0.7);
	--HoverEnlaces: rgba(13, 14, 15, 0.8);
	--OficialOscuro: rgb(51, 51, 51);
	--OficialClaro: rgb(239, 245, 245);
	--Fallos: rgba(255, 0, 0, 0.3);
	--Aciertos: rgba(0, 0, 255, 0.2);
	--footer: rgb(239, 245, 245);
	--Enlaces: rgb(24, 24, 238);
	--BandaAlerta: rgb(248, 246, 113);
	--BordeClaro: rgba(51, 51, 51, 0.2);
	--rellenoTablas: rgba(206, 224, 240, 0.4);
	--TextoClaro: rgba(0, 0, 0, 0.6);
}

/* ******************************************************************************** */

.a_1{
	font-size: 1.7em;
	width: 100%;
	text-align: right;
	padding-right: 5%;
}
.a_11{
	text-align: center;
}
.a_3A{
	color: black;
	font-size: 1.3em;
	width: 100%;
}
.actualizar_cont--label{ 
	position: relative; 
	display: block; 
	width: 10%;
	margin-top: -6%;
	left: 95%;
	font-size: 1.3em !important;
}
.actualizar_cont--span{ 
	background-color: rgb(180, 248, 180);
	font-size: 2em !important;
	border-radius: 50%;
}
.actualizar_cont--imagen{
	width: 200px;
	height: 10vw;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.agregar_cont--textarea--titulo{
	min-height: 50px;
}
.agregar_cont--textarea--resumen{
	min-height: 100px;
}
.borde{
	border-color: black;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
}
.borde_1{
	border-color: var(--BordeClaro);
	border-width: 1px;
	border-radius: 15px;
	border-style: solid;	
} 
.h1--agenda{
	font-size: 2.3em;
	text-align: center;
	margin-top: 5%;
}
.h1--secciones{
	font-size: 1.6em;
	text-align: center;
	/* margin-top: 5%; */
}
.bandaAlerta{
	background-color: var(--BandaAlerta);
	padding: 1%;
	border-radius: 15px;
	text-align: center;
}
.boton{
	background-color: var(--OficialOscuro);
	width: 190px;
	height: 30px;
	line-height: 30px;
	color: white;
	display: block;
	border: none;
	text-align: center;
	border-radius: 10px;
}
.boton:hover{
	background-color: var(--OficialClaro);
	cursor: pointer;
	color: var(--OficialOscuro);
	border-color: var(--OficialOscuro);
	border-width: 1px;
	border-style: solid;
}
 .comandoMenu_2{
	 display: none;
 }
 .contenedor_24{
	 background-color: var(--OficialClaro);
	 width: 70%;
	 margin: 7% auto;
	 padding: 1%;
	 border-radius: 15px;
 }
 .contenedor_102{
	 display: flex; /*Organiza los elementos horizontalmente*/
	 justify-content: center;
	 align-items: center;
	 width: 100%;
 }
 .contenedor_89{
	 margin-top: 3%;
	 display: grid;
	 grid-template-columns: 22% 22% 22% 22%;
	 column-gap: 1%;/*espacio entre columnas*/
	 /*justify-content: center;centra horizontalmente*/
 }
 .contInputRadio{
	 margin-bottom: 10% !important;
 }
 .contInputRadio__label{
	 padding: 2px 10px;
 }
 .contInputRadio__label:hover{
	 cursor: pointer;
	 background-color: rgba(51, 51, 51, 0.2);
	 border-radius: 15px;
 }
 .cont_galeria{
	 column-count: 3 !important;
	/* column-gap: 15px; */
	column-fill: balance ;
	width: 95%;
	margin: auto;
 }
 .cont_Galeria--item{
	background-color: black;
	 display: inline-block;
	 margin: 0 5px 20px;
	 padding: 0.5%;
	 cursor: pointer;
 }
 .cont_Galeria--img{
	 width: 100%;
	 height: 100%;
 }
 .cont_modal{
	 background-color: rgba(0, 0, 0, 0.8);
	 position: fixed;
	 top: 0%;
	 left: 0%;
	 z-index: 20;
	 width: 100%;
	 height: 100%;
	 text-align: center;
	 opacity: 0; /*oculta la ventana modal que se muestra con la clase mostrarModal{} */
 }
 .cont_modal--label{
	 background-color: orange;
	 width: 100%;
	 font-weight: bold;
	 position: absolute;
	 font-family: Gruppo;
	 bottom: 2pt;
	 padding: 0.2% 0.8%;
 }
 .cont_modal--cerrar{
	background-color: orange;
	position: absolute;
	top: 1%;
	right: 2%;
	border-radius: 50%;
	font-size: 2.8em !important;	 
 }
 .cont_modal--agregar{
	background-color: rgb(180, 248, 180);
	position: fixed;
	top: 1%;
	right: 2%;
	border-radius: 50%;
	font-size: 3.5em !important;	
	color: black; 
 }
 .cont_modal--h1{
	 color: white;
	 margin-top: 5%;
	 font-size: 3.5em;
	 font-family: Gruppo;
 }
 .cont_modal--p{
	 color: white;
	 margin-top: 3%;
	 font-size: 2em;
	 font-family: Gruppo;
 }
 .cont_modal--logo{
	 width: 40%;
	 position: absolute;
	 bottom: 5pt;
	 left: 30%;
 }
 .cont_noticia{
	margin-top: 5%;
 }
 .cont_noticia--seccion{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;/*Alinea segun el eje vertical, con el valor flex-start rompe la distribución proporcional vertical y coloca los div hijos desde el top, la distribucion vertical proporcional ocurre cuando el contenedor general tiene altura de 100%*/
	/* height: 100%; */
	margin-bottom: 2%;
	overflow-x: scroll;
	/* las siguientes lineas edita la barra scroll */
    /* scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0); */
	scrollbar-width: thin;
 }
 .cont_noticia--tituloSeccion{
	background-color: rgb(245, 238, 238);
	border-color: rgba(0, 0, 0, 0.4);
	border-width: 1px;
	border-style: solid;
	font-size: 1.5em;
	text-align: left;
	padding-left: 8px;
	width: 20%;
	margin-left: 5%;
	border-radius: 5px;
	margin-bottom: 0.5%;
 }
 .cont_noticia--sencilla{
	min-width: 25%;
	max-width: 25%;
	/* margin-left: 2%; */
 }
 .cont_noticia-imagen{
	 height: 30vh; 
	 width: 80%;
	 margin: auto;
	 object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
 }
 .cont_noticia--titular{
	width: 80%;
	margin: auto;
	margin-bottom: 5px;
	/* padding: 0.5% 2% 4% 3%; */
	font-size: 0.8em;
 }
 .cont_noticia--hr_1{
	margin: 2%;
	width: 30%;
 }
 .cont_noticia--h2{
	font-size: 0.8em;
 }
 .cont_panel{
	 display: flex;
 }
 .cont_panel--agregarImgSec{
	background-color: rgb(180, 248, 180);
	position: relative;
	top: -30%;
	left: 90%;
	border-radius: 50%;
	font-size: 3em !important;	
	color: black; 
	/* margin-top: -15%!important; */
 }
 .cont_panel--datos{
	 display: flex;
	 align-items: center;
 }
 .cont_panel--datos__did-1{
	 width: 60%;
 }
 .cont_panel--datos__did-2{
	 width: 40%;
 }
 .cont_panel--imagen{
	width: 100%; 
	height: 17vw;
	margin: auto;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
 }
 .cont_panel--imagenSec{	
	display: flex;
	flex-wrap: wrap;
 }
 .cont_panel--label{
	display: block;
	font-weight: bold;
	/* margin-bottom: 2px; */
 }
 .cont_panel--titulo{
	display: block;
	width: 90%;
	/* margin-bottom: 40px; */
 }
 .cont_panel--resumen{
	display: block;
	width: 95%;
	margin-bottom: 10px;
	text-align: justify;
 }
 .cont_panel--seccion--li{	
	list-style: initial;
	margin-left: 15px;
 }
 .cont_panel--seccion--ul{	
	margin-bottom: 10px;
 }
 .cont_panel--fecha{
	display: inline-block;
	width: 50%;
	margin-bottom: 10px;
 }
 .cont_panel--ul{
	 padding-left: 10%;
	 /* list-style: none; */
 }
 .cont_panel--li{
	color: black;
	font-size: 1em;
	line-height: 30px;
 }
 .cont_panel--li:hover{
	 cursor: pointer;
	 background-color: rgba(51, 51, 51, 0.2);
	 border-radius: 15px;
	 padding: 5px 15px;
 }
.cont_portada{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
    width: 100%;
	height: 100vh;
	margin-top: 6%;
}
.cont_detalle{
	display: block;
    width: 80%;
	margin: auto;
	min-height: 100vh;
	padding-bottom: 5%;
}
.cont_panel__agenda--imagen{
   background-color: yellow;
	width: 30%;
	/* height: 5vw;  */
	/* position: absolute; */
	margin-right: 1%;
}
.cont_edit{
	background-color: white;
	position: relative;
	top: 2%;
	left: 78%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%; 
	border-color: black;
	border-width: 1px;
	border-style: solid;
	margin-bottom: -40px; /*este margen lo uso para que la imagen se pegue arriba del div, el position relaive deja un espacio en blanco del alto de su height*/
}
.cont_edit--label{
	font-size: 1.3em;
}
.cont_detalle--imagen{
	margin: auto;
	display: block;
	width: 100%;
	height: 35vw;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.cont_detalle--imagenMiniatura{
	width: 60px;
	height: 50px;
	margin: 2px;
	cursor: pointer;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
} 
.cont_efemerides{
	
	display: block;
    width: 80%;
	margin: auto;
	min-height: 100vh;
	padding-bottom: 5%;
}
.cont_efemerides--imagen{
	margin: auto;
	display: block;
	width: 40%;
}
.cont_efemerides--contenido{
	width: 90%;
	text-align: justify;
	margin: 1% auto;
	font-size: 1.5em;
}
.p--efemerides{
	font-size: 0.9em;
}
.h2--efemerides{
	margin: auto;
	text-align: center;
	font-size: 1em;
}
.cont_portada--noticia{
	width: 30%;
	margin-bottom: 2%;
}
.cont_portada--botones{
	display: none;
}
.cont_portada--imagen{
	max-height: 50vh; 
	margin: auto;
	/*object-fit: contain; fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.cont_portada--informacion{
	padding-left: 10px
}
.cont_portada_informacion--span{
	padding-left: 5px;
	font-weight: bold; 
	font-size: 0.9em;
}
.cont_noticias_informacion--span{
	padding-left: 5px;
	font-weight: bold; 
	font-size: 1em;
}
.detalle_cont--main{
	display: block;
    width: 95%;
	margin: auto;
	min-height: 100vh;
	padding-bottom: 5%;
}
.detalle_cont--membrete{	
	/* background-color: yellow; */
	font-size: 2em;
	font-family: Gruppo;
	font-weight: bold;
	display: block;
	margin-left: 5%;
	margin-top: -4%;
	margin-bottom: 1%;
}
.detalle_cont{
	display:flex; 
	width: 100%;
	margin-top: 1%
}
.detalle_cont--fecha{
	margin-left: 5%;
}
.detalle_cont--titulo{
	width: 90%;
	margin: auto;
	font-size: 2em;
	text-align: justify;
	margin-top: 13%;
	margin-bottom: 15%;	
}
.detalle_cont--cerrar{
	top: 12%;
	right: 6%;
	font-size: 2.4em !important;
}
.detalle_cont--hr{
	width: 40%;
	margin: 10% auto 0% auto;
}
.detalle_cont--imagen{
	width: 55%
}
.detalle_cont--resumen{
	width: 80%; 
	margin: auto; 
	text-align: justify;
	font-size: 1.7em;
}
.detalle_cont--resumen p{
	font-size: 0.8em;
}
.detalle_cont--informacion{
	width: 50%;
}
.detalle_cont--contenido{
	width: 80%;
	margin: auto;
}
.detalle_cont--fuente{
	display: inline-block; 
	width: 100%; 
	text-align: center; 
	font-weight: bold; 
	font-size: 0.6em
}
.detalle_cont--avion{
	color: var(--OficialOscuro);
	font-size: 3em !important;
} 
.detalle_cont--video{
	width: 30%; 
	margin: auto; 
	margin-top: 3%;
	text-align: center
}
.textarea--titulo{
	margin-top: 1%;
	/* line-height: 20px; */
	/* min-height: 20px; */
	width: 100%;	
	padding-top: 1.5%;
}
.textarea--resumen{
	margin-top: 1%;
	/* line-height: 30px; */
	/* min-height: 30px; */
	width: 100%;	
	padding: 1.5%;
}
.textarea--contenido{
	margin: auto;
	margin-top: 1%;
	line-height: 30px;
	min-height: 250px;
	width: 80%;	
	padding: 1.5%;
	display: block;
}
.textarea--borde{
	border: none;
}
.textarea--font{
	border: none;
	font-size: 1.4em; 
}
.detalle_cont--divFijo{
	background-color: white;
	position: fixed; 
	top: 0%; 
	padding-top: 2%; 
	width: 50%
}
.imagen--portada{
	height: 50vh;  
	margin: auto;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.cont_portada--texto{
	width: 95%;
	margin: auto;
	margin-top: 2vh;
	padding: 0.5%;
	text-align: justify;
}
.cont_portada--resumen{
	font-size: 1em;
	font-weight: lighter ;
}
.cont_portada__p-1{
	font-size: 4em;
	color: white;
}
.cont_portada__p-2{
	font-size: 1.5em;
	color: white;
}
.cont_panel--contador{
	position: relative;
	top: -10px;
	right: -94%;
	text-align: right;
	width: 5%;
	border: none;
}
.cont_panel--menu{
	width: 20%;
	position: fixed !important;
	z-index: 27 !important;
	padding-left: 1%;
}
.cont_panel--div-1{
	margin: 10% auto;
}
.cont_ponchoDetalle--iconoLeft{
	color: rgba(255, 255, 255, 0.7);
	position: fixed;
	z-index: 1;
	top: 50% !important;
	left: 1%;
	cursor: pointer;
}
.cont_ponchoDetalle--iconoRight{
	color: rgba(255, 255, 255, 0.7);
	position: fixed;
	z-index: 1;
	top: 50% !important;
	left: 88%;
	cursor: pointer;
}
.cont_radio{
	display: flex; 
	justify-content: space-around;
	width: 100%;
	padding: 2%;
	margin: -10% auto 3% auto;
	/* position: relative; */
	/* bottom: 40pt; */
}
.cont_radio--input{
	width: 100px;
}
/* Estas reglas se aplicarán a todos los i despues de un input de tipo radio*/
.cont_radio input[type=radio] + i{
	height: 20px;
	width: 20px;
	border-radius: 100%;
	/* left: 15px; */
	/* padding: 1%; */
} 
.contenedor_111{
	background-color: rgb(206, 203, 222);
	position: fixed;
	top: 0%;
	left: 0%;
	padding-left: 2%;
	width: 20%;
	height: 50px;
	/* z-index: 2; */
}
.circulo{
	background-color: var(--FondoDivModal--claro);
	font-size: 1.5em;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	padding: 7px;
	text-align: center;
}
.Default_font--white{
	color: white;
}
.Default_font--black{
	color: black;
}
.Default_ocultar{
	display: none;
}
.Default_pointer{
	cursor: pointer;
}
.Default_inline{
	display: inline;
}
.Default_quitarEscritorio{/*no se muestra en escritorio*/
	display: none;
}
.Default--textarea--scrol{
	overflow: initial;
	overflow-y: scroll;
}
.Default--seleccion{
	user-select: initial;
}
.fieldset_1{
	width: 95%;
	margin: auto;
	margin-top: 2%;
	border-radius: 15px;
	padding: 2%;
	font-size: 1.2em;
}
.h1--principal{
	font-size: 2em;
	text-align: center;
	margin-top: 6.5%;
}
.h1--principal_2{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}
.header{	
	background-color: white;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.header--inicio{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 3 !important;
	display: flex;
	align-items: center;
}
.header__li--Enlaces{
	color: white;
	/* text-align: center; */
	font-size: 1.3em !important;
	line-height: 40px;
	height: 55px;
	/*padding-top: 5%; */
	/* width: 100%; */
	/*flex-grow: 1;distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
}
.header--menu{	
	font-size: 2.5em !important;
	cursor: pointer;
}
.header__titulo{
	/* background-color: yellow; */
	font-size: 3em;
	font-family: Gruppo;
	display: block;
	margin-left: 8%;
}
.header--nav{
	margin-left: 10%; 
	margin-top: 5%; 
	width: 30%;
}
.header__menuResponsive{
	background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.5s;
	position: absolute;
	top: 0%;
	left: 0%;
	margin-top: -250%; /*oculta el menu responsive*/
	padding: 1%;
	width: 100%; 
	height: 100vh;
	z-index: 20!important;
}
.header__li--Enlaces{
	color: white;
	/* text-align: center; */
	font-size: 1.3em !important;
	line-height: 40px;
	height: 55px;
	/*padding-top: 5%; */
	/* width: 100%; */
	/*flex-grow: 1;distribuye proporcionalmente los elementos internos en el eje horizontal, es necesario que el elemento padre tenga la propiedad display con el valor flex*/
}
.legend_1{
	font-size: 1.3em;
}
.menuLi_1:hover > ul{/*Se aplica un hover a un elemento, seleccionando otro elemento distinto*/
	background-color: var(--HoverEnlaces);
	display: inline-block !important;
	margin-left: 25%;
}
.menuLi_2{/**/
	padding-top: 0%; 
	display: block !important;
	/* width: 110% !important; */
	/* text-align: left !important; */
}
.sectionModal{
	background-color: var(--FondoDivModal);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 400%;
	z-index: 3;
	padding-top: 1%;
}
.tapa-logo{
	display: block;
	width: 80%; 
	margin-left: 100%;
	position: fixed;
	top: 10% !important;
	transition: all 0.4s;
}
.tapa-logo--font{
	font-size: 4em;
	color: white;
	font-family: Gruppo;
}
.titular--texto{
	font-size: 1.4em;
	text-align: justify;
}
.obituario_cont{
	display: flex;
	margin: 2% auto;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 15px;
	padding: 2%;
}
.obituario_cont--item{
	display: inline-block;
	margin: 0 5px 20px;
	padding: 0.5%;
	cursor: pointer;
}
.obituario_cont--imagen{
	margin-right: 4%;
	width: 55%;
}
.obituario_cont--tamanioimg{
	width: 100%;
	height: 100%;
}
.obituario_cont--titulo{
	font-size: 1.7em;
	margin: 2% auto;
}
.obituario_cont--hr{
	background-color: rgba(68, 64, 64, 0.3);
	width: 50%;
	margin: 1% auto;
}
.obituario_cont--small{
	position: relative;
	bottom: -5pt;
	font-size: 0.8em;
}
.obituario_cont--lazo{
	position: relative;
	top: 5%;
	left: 0%;
}
.publicidad_cont--main{
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 20;
	width: 100%;
	height: 100%;
	/* display: flex; */
	display: none;
	align-items: center;
}
.publicidad_cont--cerrar{
   background-color: white;
   position: absolute;
   top: 10%;
   left: 70%;
   border-radius: 50%;
   font-size: 2.8em !important;	 
}
.publicidad_cont--interno{
	background-color: initial; 
	/* position: relative;  */
	/* width: 70%;  */
	height: 80%; 
	margin: auto;
}
.publicidad_cont--imagen{
	width: 100%;
	height: 100%;
}






.mostrarModal{
	animation-duration: 3s;
	animation-name: fade;
	animation-fill-mode: forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}
.mostrarModal--publicidad{
	display: flex;
}

.simplescrollup__button {/*instruccion.php*/
    position: fixed;
    bottom: 1rem;/*3*/
    right: 1rem;/*2*/
    transition: 1s all;
    z-index: 10000;
}
.simplescrollup__button--show {/*instruccion.php*/
    transform: translateX(0);
}
.simplescrollup__button--hide {/*instruccion.php*/
    transform: translateX(100px);
}