@media(max-width: 350px){/*aplicará en cualquier medio con dimensiones menores a lo indicado*/
		/* DECLARACION DE VARIABLES */
:root{
	--FondoDivModal--claro: rgba(0, 0, 0, 0.8);
}
.a_1{
	font-size: 1.7em;
	width: 100%;
	text-align: right;
	padding-right: 5%;
}
.body_1{
	overflow-y: hidden; 
	overflow-x: hidden;
}
.br_1{
	margin-bottom: 20%;
}
.h1--agenda{
	font-size: 1.9em;
	margin-top: 20%;
}
.boton{
	font-size: 1em;
	width: 140px;
}
 .comandoMenu_2{
	 border-radius: 10px;
	 visibility: visible;
	 position: absolute;
	 top: 0%;
	 display: block;
	 padding: 1%;
	 margin-top: 1%;
	 margin-left: 2%;
	 /* z-index: 28; */
 }
 .contBoton--100{
	 width: 100%;
 }  
 .cont_galeria{
	column-count: 1 !important;
	width: 100%;
 }
 .cont_Galeria--item{
	 padding: 0%;
 }
.cont_modal--label{
	font-size: 1em;
	bottom: 0pt;
	font-size: 1.3em;
	height: 25px;
}
.cont_modal--h1{
	font-size: 1.5em;
	 margin-top: 10%;
}
.cont_modal--p{
	margin-top: 20%;
	font-size: 1.8em;
}
.cont_modal--logo{
	width: 95%;
	margin: auto;
	bottom: 45pt;
	left: 2.5%;
}
.cont_portada{
	display: block;
	margin-top: 15%;
}
.cont_portada--noticia{
	width: 100%;
	height: 100%;
	margin-bottom: initial;
}
.cont_portada--titular{
	width: 90%;
	margin: auto;
	text-align: center;
}
.titular--texto{
	font-size: 1.2em;
	padding: 1%;
	text-align: center;
}
.cont_noticia{
	margin-top: 18%;
}
.cont_noticia--seccion{
   margin-bottom: 5%;
}
.cont_noticia--sencilla{
   min-width: 50%;
}
.cont_portada--texto{
	width: 95%;
	text-align: justify;
	height: 15%;
	margin: auto;
	/*margin-top: 80vh;*/
	padding: 3%; 
}
.cont_efemerides--imagen{
	width: 100%;
}
.cont_efemerides--titular{
	/* width: 90%;
	margin: auto;
	text-align: center; */
	justify-content: space-between;
	
}
.cont_efemerides--contenido{
	width: 95%;
	text-align: justify;
	/* height: 15%; */
	margin: auto;
	/*margin-top: 80vh;*/
	padding: 3%; 
}
.h1--principal{
	font-size: 1.6em;
	text-align: center;
	margin-top: 22%;
	margin-bottom: 3%;
}
.h2--efemerides{
	font-size: 1em;
	margin-top: 5%;
}
.p--efemerides{
	font-size: 0.8em;
}
.contenedor_111{
	background-color: white;
	width: 100%;
	text-align: right;
	padding-right: 4%;
	height: 50px;
}
.Default_quitarEscritorio{
	display: flex;
}
.header{
	display: block;
	height: 50px;
}
.header--menu{
	display: block;
	position: absolute;
	top: 15%;
	left: 3%;
	font-size: 1.8em !important;
}
.header__titulo{
	font-size: 2.1em;
	position: absolute;
	top: 0%;
	left: 9%;
}
.header__fecha{
	font-size: 0.8em;
	position: absolute;
	bottom: 2pt;
	left: 52%;
}
.header--nav{
	margin-left: 10%; 
	margin-top: 10%; 
	width: 90%;
}
.subtitulo{	
	/*Las proximas lineas permiten colocar tres puntos al final luego de 4 lineas de parrafo */	
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
.tapa{
	/* background-color: rgba(0, 0, 0, 0.9);
	/* display: none; */
	/* position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 400% !important;
	z-index: 2;  */
	/* transition: all 0.5s;
	transition-delay: 0.8s; */
}
.tapa-logo{
	display: block;
	width: 80%; 
	margin-left: 100%;/*oculta el menu responsive*/
	position: fixed;
	top: 85% !important;
	transition: all 0.5s;
}
.tapa-logo--font{
	font-size: 2em;
}

}