@media(max-width: 350px){/*aplicará en cualquier medio con dimensiones menores a lo indicado*/
		/* DECLARACION DE VARIABLES */
:root{
	--FondoDivModal--claro: rgba(0, 0, 0, 0.8);
}
*{
	user-select: none;
}
.a_1{
	font-size: 1.7em;
	width: 100%;
	text-align: right;
	padding-right: 5%;
}
.body_1{
	overflow-y: hidden; 
	overflow-x: hidden;
}
.borde_1{
	border-color: white;
}
.br_1{
	margin-bottom: 20%;
}
.h1--agenda{
	font-size: 1.9em;
	margin-top: 20%;
}
.boton{
	font-size: 1em;
	width: 140px;
}
 .comandoMenu_2{
	 border-radius: 10px;
	 visibility: visible;
	 position: absolute;
	 top: 0%;
	 display: block;
	 padding: 1%;
	 margin-top: 1%;
	 margin-left: 2%;
	 /* z-index: 28; */
 }
 .con_portada--titulo{
	position: fixed;
	top: 11%;
	left: 2%;
	z-index: 2;
	padding: 1% 3%;
	width: 40%;
 }
 .con_portada--video{
	 position: relative; 
	 top: 55px!important;
	 left: initial; 
	 width: 100%; 
	 height: 85vh;
 }
 .contBoton--100{
	 width: 100%;
 }  
 .cont_galeria{
	column-count: 1 !important;
	width: 100%;
 }
 .cont_Galeria--item{
	margin-bottom: 25%;
 }
.cont_modal--label{
	font-size: 1em;
	bottom: 0pt;
	font-size: 1.3em;
	height: 25px;
}
.cont_modal--h1{
	font-size: 1.5em;
	 margin-top: 10%;
}
.cont_modal--p{
	margin-top: 20%;
	font-size: 1.8em;
}
.cont_modal--logo{
	width: 95%;
	margin: auto;
	bottom: 45pt;
	left: 2.5%;
}
.cont_modal--cerrar{
   font-size: 2.3em !important;	 
}
.cont_portada{
	display: block;
	margin-top: 15%;
}
.cont_portada--noticia{
	width: 100%;
	height: 100%;
	margin-bottom: initial;
}
.cont_portada--titular{
	/* max-height: 20%; */
	width: 95%;
	margin: auto;
	margin-top: 1%;
	text-align: center;
	/* display: flex;
	align-items: center; */
}
.cont_portada--resumen{
	font-size: 0.9em;
	font-weight: lighter ;
	text-align: justify;
}
.cont_portada--texto{
	width: 95%;
	text-align: justify;
	/* height: 15%; */
	margin: auto;
	margin-top: initial;
	padding: 0% 3% 1% 3%; 
}
.cont_portada_informacion--span{
	padding-left: 5px;
	font-weight: bold; 
	font-size: 0.8em;
}
.cont_portada_atras--descripcion{
	width: 90%;
	margin: auto;
}
.cont_portada_atras--membrete{	
	width: 85%;
	line-height: 20px !important;
}
.cont_portada_atras--serie{
	font-size: 0.9em;	
	width: 85%;
}
.cont_portada_giro{
	bottom: 50pt;
}
.cont_portada_giro--atras{
	bottom: 1pt;
}
.cont_portada_atras--coleccion{
	text-align: center;
}
.cont_noticias_informacion--span{
	padding-left: 5px;
	font-weight: bold; 
	font-size: 0.9em;
}
.cont_portada_informacion--fecha{
	display: inline; 
}
.cont_portada--botones{
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	bottom: 5pt;
}
.cont_portada--hr{
	width: 40%;
	margin: 1% auto;
}
.titular--texto{
	font-size: 1.1em;
	padding: 1%;
}
.cont_noticia{
	margin-top: 18%;
}
.cont_noticia--seccion{
	margin-bottom: 5%;
    height: 52vh; 
	overflow-y: hidden;
}
.cont_noticia--tituloSeccion{
   font-size: 1.3em;
   width: 70%;
   padding-left: 2%;
   margin-left: 3%;
}
.cont_noticia--sencilla{
	min-width: 60%;
	max-width: 60%;
   	margin-left: 1%;
}
.cont_noticia--titular{
	height: 45vw;
	width: 100%;
	overflow-y: hidden;
}
.cont_noticia-imagen{
	height: 25vh; 
	width: 100%;
	/* object-fit: cover;  */
}
.cont_detalle{
    width: 100%;
}
.cont_detalle--imagen{
	height: 85vw;
	margin-top: 15%;
}
.cont_detalle--imagenMiniatura{
	width: 50px;
	height: 40px;
} 
.cont_efemerides{
    width: 100%;
}
.cont_efemerides--imagen{
	width: 100%;
}
.cont_efemerides--titular{
	/* width: 90%;
	margin: auto;
	text-align: center; */
	justify-content: space-between;
	
}
.cont_efemerides--contenido{
	width: 95%;
	text-align: justify;
	/* height: 15%; */
	margin: auto;
	/*margin-top: 80vh;*/
	padding: 3%; 
}
.h1--principal{
	font-size: 1.6em;
	text-align: center;
	margin-top: 22%;
	margin-bottom: 3%;
}
.h2--efemerides{
	font-size: 1em;
	margin-top: 5%;
}
.p--efemerides{
	font-size: 0.8em;
}
.contenedor_111{
	background-color: white;
	width: 100%;
	text-align: right;
	padding-right: 4%;
	height: 50px;
}
.detalle_cont--main{
	margin-top: 8%;
	width: 100%;
}
.detalle_cont{
	display: block;  
	margin-top: -1%;
}
.detalle_cont--divFijo{
	background-color: white;
	padding-top: 2%; 
	left: 0%;
	width: 100%
}
.detalle_cont--membrete{	
	font-size: 1.5em;
	margin-left: 5%;
	margin-top: -2%;
	margin-bottom: 1%;
}
.detalle_cont--cerrar{
	top: 105%;
	right: 4%;
	font-size: 2.2em !important;
}
.detalle_cont--informacion{
	width: 95%;
	margin: auto;
	margin-bottom: 10%;
}
.detalle_cont--titulo{
	font-size: 1.3em;	
	width: 95%;
	margin: 2% auto;
}
.detalle_cont--imagen{
	width: 95%;
	margin: auto;
	margin-top: 20%;
}
.detalle_cont--resumen{
	font-size: 1.3em;
	width: 95%; 
}
.detalle_cont--hr{
	width: 40%;
	margin: 3% auto 7% auto;
}
.detalle_cont--fuente{
	font-size: 0.7em
}
.detalle_cont--contenido{
	width: 98%;
}
.detalle_cont--video{
	width: 100%; 
	margin: auto; 
	text-align: left
}
.detalle_cont--redesSociales-icono{
	width: 89%;
	margin-left: 20%;
}
.detalle_cont--redesSociales-facebook{
	width: 45%;
	margin-left: 20%;
}
.detalle_cont--redesSociales-twitter{
	width: 100%;
	margin-left: 20%;
}
.Default_quitarEscritorio{
	display: flex;
}
.Default_quitarMovil{/*no se muestra en version movil*/
	display: none;
}
.header{
	display: block;
	height: 50px;
}
.header--menu{
	display: block;
	position: absolute;
	top: 15%;
	left: 3%;
	font-size: 1.8em !important;
}
.header__titulo{
	font-size: 2.1em;
	position: absolute;
	top: 0%;
	left: 9%;
}
.header__fecha{
	font-size: 0.8em;
	position: absolute;
	bottom: 2pt;
	left: 52%;
}
.header--nav{
	margin-left: 10%; 
	margin-top: 10%; 
	width: 90%;
}
.imagen--portada{
	height: 45vh;  
	margin: auto;
	object-fit: cover; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.imagen--portada--cole{
	height: 40vh;  
}
.publicidad_cont--interno{
	background-color: initial; 
	width: 90%; 
	height: 95vh; 
	margin: auto;
	margin-top: 25%;
}
.publicidad_cont--imagen{
	width: 95%;
	height: 80%;
	margin: auto;
	object-fit: contain; /*fill, cover, contain, none, scale-down, inherit, initial, unset*/
}
.publicidad_cont--cerrar{
   top: 3%;
   left: 85%;
   font-size: 2em !important;	 
}
.obituario_cont{
	display: block;
	/* margin-top: 10%; */
	width: 95%;
	text-align: center;
}
.obituario_cont--imagen{
	margin:auto;
	width: 50%;
}
.tapa-logo{
	display: block;
	width: 80%; 
	margin-left: 100%;/*oculta el menu responsive*/
	position: fixed;
	top: 85% !important;
	transition: all 0.5s;
}
.tapa-logo--font{
	font-size: 2em;
}
.textarea--contenido{
	margin-top: 1%;
	line-height: 30px;
	min-height: 250px;
	width: 95%;	
	padding: 1.5%;
}
.whatsapp{ 
	display: block;
}

}